body {
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 1000px;
  margin: auto;
  padding: 0;
  background-color: #ccc;
}

img {
  width: 300px;
  height: 300px;
  margin: 10px;
  box-shadow: 10px 10px 10px #000;
  transition: 0.5s;
}
img:hover {
  opacity: 0.7;
  margin-left: 5px;
}
header {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #000;
}

header h1 {
  padding: 10px;
  color: white;
  margin-left: 50px;
}

a {
  text-decoration: none;
  cursor: pointer;
  padding: 10;
  margin-right: 50px;
  color: white;
  transition: 00.5s;
}

a:hover {
  background-color: white;
  color: blue;
  margin-left: 5px;
  padding: 20px;
}
main {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
button {
  padding: 10px;
  border: none;
  background-color: tomato;
  color: aliceblue;
  margin: 20px;
  transition: 0.5s;
}

ul {
  list-style: none;
}

ul li {
  padding: 10px;
  border-bottom: 1px solid orchid;
  width: 45%;
}

footer {
  height: 50px;
  background-color: orchid;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
button:hover {
  background-color: blue;
  padding: 15px;
  font-weight: bold;
}
